{
  "repositoryUrl": "git@github.com:matteo-cristino/W3C-DID.git",
  "dryRun": false,
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ],
  "branches": [ main ]
}
